.archetype-filter {
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  flex-wrap: wrap;
  background-color: #34495e;
  border-radius: 4px;
  justify-content: space-evenly;
}

.archetype-chip {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.archetype-chip:hover {
  transform: scale(1.05);
}
